<div *ngIf="question; else loading">
    <mat-card class="mb-4">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon aria-hidden="false" class="header-icon" color="primary">live_help</mat-icon>
            </div>
            <mat-card-title>
                {{ question.title }}
            </mat-card-title>
            <mat-card-subtitle>
                Asked at {{ question.date | date:'dd.MM.yyyy HH:mm' }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <ng-container *ngIf="question.imageUrl">
            <img mat-card-image [src]="question.imageUrl">
            <mat-divider></mat-divider>
        </ng-container>
        <mat-card-content class="mt-3">
            <p>
                {{ question.description }}
            </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="mt-2">
            <mat-grid-list cols="3" rowHeight="60px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-icon-button color="accent">
                        <mat-icon aria-hidden="false" (click)="downVote()">thumb_down</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Votes:&nbsp;<strong [class.text-success]="getScore()"
                        [class.text-danger]="getScore() < 0">{{ getScore() }}</strong>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-icon-button color="accent" (click)="upVote()">
                        <mat-icon aria-hidden="false">thumb_up </mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-footer>
    </mat-card>

    <app-answer-list [question]="question"></app-answer-list>
</div>
<ng-template #loading>
    <div>Loading ...</div>
</ng-template>