<h1 mat-dialog-title>Ask Question</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input #name name="title" matInput [(ngModel)]="data.title" cdkFocusInitial required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea #description name="description" matInput [(ngModel)]="data.description" matTextareaAutosize
            matAutosizeMinRows=5 required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Image URL</mat-label>
        <input name="imageUrl" matInput [(ngModel)]="data.imageUrl">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data"
        [disabled]="!name.value.length || !description.value.length">Ok</button>
</div>