<h1 mat-dialog-title>Answer</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea #description matInput [(ngModel)]="data.description" matTextareaAutosize matAutosizeMinRows=5
            cdkFocusInitial required></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data"
        [disabled]="!description.value.length">Ok</button>
</div>