<mat-card class="mb-4">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon aria-hidden="false" class="header-icon" color="primary">live_help</mat-icon>
        </div>
        <mat-card-title>
            {{ question.title }}
        </mat-card-title>
        <mat-card-subtitle>
            Asked at {{ question.date | date:'dd.MM.yyyy HH:mm' }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-footer class="mt-2">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-icon [matBadge]="getScore()" matBadgeColor="primary" aria-hidden="false" color="">thumbs_up_down</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-icon matBadge="15" matBadgeColor="primary" aria-hidden="false" color="">question_answer</mat-icon>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-footer>

</mat-card>